
.row {
    margin: 0 !important;
}
.nav-link {
    color: #222 !important;
}
/* styling button */
.btn-log, .btn-sign, .btn-hero {
    outline: none;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
}
.btn-sign, .btn-hero{
    padding: 8px 22px;
    background: #372b7ae1;
    color: #e4e2e2ed;
    border-radius: 6px;
}
.btn-hero{
    padding: 8px 37px;
    text-transform: uppercase;
}
.btn-sign:hover {
    background: #5a48c5e1;
}
.herotext h1 {
    color: #0a042be1;
}
.spectar {
    margin: 10% auto;
}
.card-item-footer {
    background: orangered;
    padding: 3px;
}

.card-section-item {
    background: #5000CA;
}

.card-overall-section {
    display: flex;
    justify-content: space-between;
}

.card-item {
    background: #fff;
    margin-right: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card-header-item, .card-body-item {
    padding: 10px 13px;
}

@media screen and (max-width: 992px) {
    .card-overall-section {
        flex-direction: column;
    }

    .card-item {
        margin: 0 0 20px 0;
    }
    .svg1{
      margin-bottom: -5px; 
    }
    .svg2{
        margin-top: -5px;
    }
   
}
@media screen and (min-width: 1000px){
    .svg1{
        margin-bottom: -5px; 
      }
      .svg2{
        margin-top: -5px;
    }
      
}









