
.row {
    margin: 0 !important;
}
.nav-link {
    color: #222 !important;
}
/* styling button */
.btn-log, .btn-sign, .btn-hero {
    outline: none;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
}
.btn-sign, .btn-hero{
    padding: 8px 22px;
    background: #372b7ae1;
    color: #e4e2e2ed;
    border-radius: 6px;
}
.btn-hero{
    padding: 8px 37px;
    text-transform: uppercase;
}
.btn-sign:hover {
    background: #5a48c5e1;
}
.herotext h1 {
    color: #0a042be1;
}
.spectar {
    margin: 10% auto;
}
.card-item-footer {
    background: orangered;
    padding: 3px;
}

.card-section-item {
    background: #5000CA;
}

.card-overall-section {
    display: flex;
    justify-content: space-between;
}

.card-item {
    background: #fff;
    margin-right: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card-header-item, .card-body-item {
    padding: 10px 13px;
}
 .card-body-item p{
margin: 0;
padding: 0;
}
.section3{
    display: flex;
    justify-content: space-between;
}
.hero-text, .section4Text, .section5Text{
    line-height: 30px;
}
.hero-text h3, .hero-text p, .section4Text h3, .section4Text p,.section5Text h3{
margin-bottom: 30px;
}

.img5{
    float: right;
    margin-top: -10%;
}
.spectar2{
    display: flex;
    align-items: center;
}
.spectar2 .section-3-row h5{
    margin-top: -50px;
    margin-left: 50px;
    margin-right: -35px;
    font-size: 16px;
    font-weight: 700;
}
.section4{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionText4{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section4Text, .section5Text{
    width: 60%;
}
.section-five{
    margin: 10% auto;
}

@media screen and (max-width: 992px) {
    .card-overall-section {
        flex-direction: column;
    }
    .section-four{
        margin-top: 30px;
    }
    .myrow{
        flex-direction: column-reverse;
    }
.section-four,.section-three,.section-five{
    padding-bottom: 25px;
}

    .card-item {
        margin: 0 0 20px 0;
    }
    .svg1{
      margin-bottom: -5px; 
    }
    .svg2{
        margin-top: -5px;
    }
    .section3{
    text-align: center;
    }
 h5{
      width: 100%;
    }
 
  .imgsection{
    width: 90%;
  }
  .spectar2{
    flex-direction: column;
  }
  .spectar2 .section-3-row h5{
    margin: 0;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 700;
  }
  .img5{
    margin-top: 25px;
  }
  .img6{
    width: 90%;
    margin-top: 25px;
  }
  .section4Text{
    width: 100%;
    text-align: center;
    margin-top: 25px;
  }
  .section5Text{
   width: 100%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }


} 
@media (min-width: 992px) and (max-width:1080px){
.imgsection{
  width: 90%;
}
.svg1{
    margin-bottom: -5px; 
  }
  .svg2{
      margin-top: -5px;
  }
}
@media screen and (min-width: 1000px){
    .svg1{
        margin-bottom: -5px; 
      }
      .svg2{
        margin-top: -5px;
    }
    .imgsection{
        width: 9 0%; 
    }     

}









