body{

    overflow-x: hidden;
}
.row {
    margin: 0 !important;
}
.nav-link {
    color: #222 !important;
}
/* styling button */
.btn-log, .btn-sign, .btn-hero {
    outline: none;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
}
.btn-sign, .btn-hero{
    padding: 8px 22px;
    background: #372b7ae1;
    color: #e4e2e2ed;
    border-radius: 6px;
}
.btn-hero{
    padding: 8px 37px;
    text-transform: uppercase;
}
.btn-sign:hover {
    background: #5a48c5e1;
}
.herotext h1 {
    color: #0a042be1;
}
.spectar {
    margin: 10% auto;
}
.card-item-footer {
    background: orangered;
    padding: 3px;
}

.card-section-item {
    background: #5000CA;
}

.card-overall-section {
    display: flex;
    justify-content: space-between;
}

.card-item {
    background: #fff;
    margin-right: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card-header-item, .card-body-item {
    padding: 10px 13px;
}
 .card-body-item p{
margin: 0;
padding: 0;
}
.section3{
    display: flex;
    justify-content: space-between;
}
.hero-text, .section4Text, .section5Text{
    line-height: 30px;
}
.hero-text h3, .hero-text p, .section4Text h3, .section4Text p,.section5Text h3{
margin-bottom: 30px;
}

.img5{
    float: right;
    margin-top: -10%;
}
.img6{
    width: 95%;
}
.spectar2{
    display: flex;
    align-items: center;
}
.spectar2 .section-3-row h5{
    margin-top: -50px;
    margin-left: 50px;
    margin-right: -35px;
    font-size: 16px;
    font-weight: 700;
}
.section4{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionText4{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section4Text, .section5Text{
    width: 60%;
}
.section-five{
    margin: 10% auto;
}
.myfooter{
    background:#5000CA;
}
.about{
     color:#7a7070;
     font-weight: 700;
}
.socialIcons{
    color: #fff;
}
.twodiv{
position: relative;
}
 .boxcontent{
 position: absolute;
    width: 100%;
     top: -450px; 
    left: -4%; 
    background: skyblue;
    padding: 40px 50px;
    border-radius: 5px;
    line-height: 20px;
    font-size: 12px;
    
}
.btnstart{
    border-radius: 5px;
    border:none;
    padding: 10px 25px;
    background: white;
    margin-top: 1.5%;
    color: #5000CA;
    font-size: small;
    margin-left: 0;
}
.firstp{
    font-size: 18px;
}
.myfooter{
  padding-top:10%;
}
.student{
    background: hotpink;
    padding: 10px 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.parent{
    background: skyblue;
    padding: 10px 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.gold{
    background: orangered;
    padding: 10px 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.card2-btn{
    background: #372b7ae1;
    border-radius: 5px;
    border:none;
    padding: 10px 25px;
    text-decoration: none;
    color: #ffffff;
    margin: 5px 0;
}
.card2-btn:hover{
    color: #ffffff;
    text-decoration: none;
}
.card2-section-item .card-body{
padding: 0 25px 0 25px;
}
hr{
    width: 65%;
}
.card2-section-item .card-overall-section .card{
    box-shadow: 0 3px 10px grey;
    border-radius: 3px;
    padding-bottom: 35px;
}
.card2-section-item .card-overall-section p{
    color: gray;
    font-weight: 500;
}
.span{
    color: #372b7ae1;
}
.quote{
    font-size:50px;
    font-weight: 900;
    margin-bottom: 0;
    height: 40px;
}
.arrow{
    display: flex;
}
.lastcard{
 padding: 30px 50px;
 background: #ffffff;
 box-shadow: 0 0 10px gray;
width: 100%;
color: grey;
}
.lastsection{
background: #f3f4f5;
padding-bottom: 10%;
}
.lastsection h2{
   line-height: 45px;
}
.manImage{
    border-radius: 100%;
}

.imgname{
   display: flex;
   justify-content: center;
}
.arr{
    background: #ffffff;
  padding: 5px 10px;
  box-shadow: 0 0 3px gray;

}
.lastcard2{
overflow-x: hidden;
}
@media screen and (max-width: 992px) {
    .card-overall-section {
        flex-direction: column;
    }
    .section-four{
        margin-top: 30px;
    }
    .myrow{
        flex-direction: column-reverse;
    }
.section-four,.section-three,.section-five{
    padding-bottom: 25px;
}

    .card-item {
        margin: 0 0 20px 0;
    }
    .svg1{
      margin-bottom: -5px; 
    }
    .svg2{
        margin-top: -5px;
    }
    .section3{
    text-align: center;
    }
 h5{
      width: 100%;
    }
 
  .imgsection{
    width: 90%;
  }
  .spectar2{
    flex-direction: column;
  }
  .spectar2 .section-3-row h5{
    margin: 0;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 700;
  }
  .img5{
    margin-top: 25px;
  }
  .img6{
    width: 90%;
    margin-top: 25px;
  }
  .section4Text{
    width: 100%;
    text-align: center;
    margin-top: 25px;
  }
  .section5Text{
   width: 100%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .firstp{
    font-size: small;
  }
   .boxcontent p{
text-align: center;
font-size:xx-small;
padding: 5px 0 0 0;
  }
  .btnbtn{
display:flex;
justify-content: center;
  }
  .boxcontent{
    margin: auto;
    width: 80%;
    left: 10%;
    top: -615px;
    padding: 10px 20px;
    line-height: 15px;

}
.myfooter{
    padding-top: 20%;
}
.btnstart{
    margin-top: 0;
}
.card2-section-item .card-overall-section .card{
    margin-bottom: 25%;
}
.lastcard{
    margin-bottom: 25%;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    text-align: start;
}
 .br{
    display: none;
}
}  



@media (min-width: 992px) and (max-width:1080px){
.imgsection{
  width: 90%;
}
.svg1{
    margin-bottom: -5px; 
  }
  .svg2{
      margin-top: -5px;
  }
}
@media screen and (min-width: 1000px){
    .svg1{
        margin-bottom: -5px; 
      }
      .svg2{
        margin-top: -5px;
    }
    .imgsection{
        width: 90%; 
    }     

}









